



<div class = "body">
	<div>
		<h1>Wiebe Solutions</h1>
		<h3>Code that Connects</h3>
		<a href="#about">Start</a>
	</div>
</div>

<style>
	.body {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	}

	div {
		text-align: center;
	}

	h1 {
		font-size: 3rem;
	}

	h3 {
		font-size: 1.5rem;
	}

	a {
		padding: 12px 24px;
		margin-top: 20px;
		border: none;
		border-radius: 25px;
		background: linear-gradient(135deg, #6a11cb, #2575fc);
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
		color: white;
		font-size: 1rem;
		cursor: pointer;
		transition: background 0.3s ease, transform 0.3s ease;
		text-decoration: none;
	}

	a:hover {
		background-color: #0056b3;
	}
</style>